.header {
    background-color: #2e3a46;
    height: 6vh;
}

.header img {
    width: 30px;
}

.bc-main {
    background-color: #1e2d3b;
    height: 94vh;      
}    

.bc-card {
    background-color: #2e3a46;
    color: #797e7a ;
}

.bc-card h1 {
    text-transform: uppercase;
    font-size: 1.2em;
}